label > .wrap > input{ /* HIDE RADIO */
  display:none;
}
label > .wrap > input + img{ /* IMAGE STYLES */
  border:2px solid transparent;
}
label > .wrap > input:checked + img{ /* (CHECKED) IMAGE STYLES */
  border:2px solid #ff6633;
  border-radius: 20px;
}

img{
	width: 65px;
}

.diary{
	width: 100%;
	height: 100px;
	font-family: 'Raleway';
	font-size: 18px;
}

.likeabutton{
	//pressed for the very first time
	float: right;
}

.number{
	display: block;
	font-size: 12px;
	margin-left: 30px;
}

.wrap{
	width: 65px;
	float: left;
	margin: 0 10px 20px 10px;
}
