.bar{
	width: 50%;
	//sure is nice to not have to make anything that even pretends to be extensible.
	font-size: 12px;
	float: left;
	margin: -10px 0 20px 0;;
	padding: 0;
	border-radius: 2px;
	font-size: 18px;
}

.selected{
	background-color: #a3cccc;
}

.textbox{
	background-color: #a3cccc;
	width: 270px;
	height: 70px;
	overflow: scroll;
	border: none;
	border-radius: 5px;
	padding: 5px;
	font-size: 18px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.arrow{
	width: 40px;
	margin-bottom: 15px;
	margin-top: -10px;
}

#previous, #next{
	z-index: 999;
}

.right{
	float: right;
}

.left{
	float: left;
}

.legend{
	width: 100px;;
	margin: 0 auto;
}

.box{
	float: left;
	width: 12px;
	height: 12px;
	border-radius: 3px;
	font-size: 12px;
	margin-right: 3px;
}

.q1{
	background-color: #fff;
}

.q2{
	background-color: #ffe1cf;
}

.q3{
	background-color: #ffc3a0;
}

.q4{
	background-color: #ffa570;
}

.q5{
	background-color: #ff8741;
}

.q6{
	background-color: #ff6911;
}
