.bar{
	width: 50%;
	//sure is nice to not have to make anything that even pretends to be extensible.
	font-size: 12px;
	float: left;
	margin: -10px 0 20px 0;;
	padding: 0;
	border-radius: 2px;
	font-size: 18px;
}

.selected{
	background-color: #ccc;
}

.textbox{
	background-color: #fff;
	width: 100%;
	height: 125px;
	overflow: scroll;
	border: solid 1px #666;
	border-radius: 5px;
	padding: 5px;
	font-size: 18px;
	margin-top: 20px;
}

.arrow{
	width: 40px;
	margin-bottom: 15px;
}

#previous, #next{
	z-index: 999;
}

.right{
	float: right;
}

.left{
	float: left;
}

.legend{
	width: 100px;;
	margin: 0 auto;
}

.box{
	float: left;
	width: 12px;
	height: 12px;
	border-radius: 3px;
	font-size: 12px;
	margin-right: 3px;
}

.q1{
	background-color: #fff;
}

.q2{
	background-color: #ffcc99;
}

.q3{
	background-color: #ff9966;
}

.q4{
	background-color: #ff6633;
}

.q5{
	background-color: #cc6633;
}

.q6{
	background-color: #cc3300;
}
