.scrollable{
	height: 280px;
	overflow: scroll;
	border: 1px solid #666;
}

.stratCard{
	background-color: #fff;
	border-top: 1px solid #666;
	font-size: 18px;
	overflow: auto;
	zoom: 1;
}

.stratIcon{
	height: 50px;
	margin-left: 5px;
	float: left;
}

.selected{
	background-color: #cc6666;
}

.likeabutton{
	margin-top: 20px;
}

.textbox{
	background-color: #a3cccc;
	width: 270px;
	height: 70px;
	overflow: scroll;
	border: none;
	border-radius: 5px;
	padding: 5px;
	font-size: 18px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.title{
	display: block;
	float: left;
	margin: 18px 0 0 12px;
	font-size: 20px;
}
