<!DOCTYPE html>
<html>
    <head>
        <title>Chat with Someone</title>
        <link type="text/css" rel="stylesheet" href="/static/css/appspirin.css">
        <link type="text/css" rel="stylesheet" href="/static/css/resourcePage.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
        <meta name="viewport" content="width = 320"/>
		<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	 <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
   </head>
    <body>
		<div class="header">
			<a href="/home"><img class="logo" src="/images/home.png"/></a>
			<h1>Chat</h1>
		</div>
		<div class="wrapper">
			These services can provide immediate help if you're in a crisis or trying to work something out.

			<a href="https://www.7cupsoftea.com/">7 Cups of Tea</a>
			<div class="description">
				Talk to trained volunteers who will help you work through whatever's bothering you.
			</div>

			<a href="http://www.crisischat.org/chat/">Crisis Chat</a>
			<div class="description">
				Crisis chat is provided by the National Suicide Prevention Hotline.
			</div>

			<a href="http://www.thehopeline.com/gethelp/">The Hope Line</a>
			<div class="description">
				A chat service for young adults and teens with a Christian focus.
			</div>

			<a href="http://blahtherapy.com/">BlahTherapy</a>
			<div class="description">
				Talk to other members for free or professional therapists for a fee.
			</div>

		</div>
	</body>
</html>
