<!DOCTYPE html>
<html>
    <head>
        <title>Berkeley counseling</title>
        <link type="text/css" rel="stylesheet" href="/static/css/appspirin.css">
        <link type="text/css" rel="stylesheet" href="/static/css/resourcePage.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
        <meta name="viewport" content="width = 320"/>
		<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
 <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
   </head>
    <body>
		<div class="header">
			<a href="/home"><img class="logo" src="/images/home.png"/></a>
			<h1>Counseling</h1>
		</div>
		<div class="wrapper">
			<p>The UC Berkeley Tang Center provides mental health services to all enrolled students.<p>

			<p>You can access <a href="http://www.mentalhealthscreening.org/screening/Welcome.aspx">mental health screenings</a> through Berkeley that can help you decide if you would benefit from seeing a therapist.</p>

			<p>You can see a counselor at the Tang center for 8 sessions per academic year. To make an appointment, call (510) 642-9494 - you will need to set up a phone call with one of the Tang therapists to assess your needs and determine next steps. You can also visit the counseling department in the Tang center to set up this appointment.
			</p>

			<p>You can also drop into the counseling department for an emergency visit, if you're in a situation where you want to see a therapist that same day. If you're in crisis when the Tang center is closed, you can call the after-hours counseling line or a helpline (see <a href="/resources/phoneNumbers">phone numbers</a>), or you can always check yourself into an emergency room.
			</p>

			<p>If you have SHIP insurance, you can get a referral to see a therapist for an unlimited number of sessions outside of the Tang center for $15 per session. To find a therapist that fits you, you can start with <a href="https://therapists.psychologytoday.com/rms/">Psychology Today's therapist listings</a>, which has therapists' contact information and details about their practice and specialties.</p>

			<p>The Tang center also offers group therapy sessions throughout the year. See the Tang website for <a href="http://uhs.berkeley.edu/students/counseling/calendar.shtml">the current list of therapy groups.</a>
			</p>

			<p>It's common to worry that if you see a therapist, they'll just medicate you and send you away. Therapists and psychologists are not certified to prescribe medication, only psychiatrists are. Therapists may suggest medication if they feel that you could benefit from it along with therapy, but they will never give you meds that you don't want. If you don't like how they deal with the subject, you can and should find another therapist. </p>
		</div>
	</body>
</html>
