<!DOCTYPE html>
<html>
    <head>
        <title>Phone numbers</title>
        <link type="text/css" rel="stylesheet" href="/static/css/appspirin.css">
        <link type="text/css" rel="stylesheet" href="/static/css/resourcePage.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
        <meta name="viewport" content="width = 320"/>
		<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
 <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
   </head>
    <body>
		<div class="header">
			<a href="/home"><img class="logo" src="/images/home.png"/></a>
			<h1>Numbers</h1>
		</div>
		<div class="wrapper">
			<a href="tel:510-642-9494" class="link">(510) 642-9494</a>
			<div class="description">The main number for Tang Center counseling - call this to make an appointment or ask any questions. They're open Monday-Friday, 8am-5pm.</div>

			<a href="tel:855-817-5667"class="link">(855) 817-5667</a>
			<div class="description">The Tang Center after hours counseling line - call this if you need help when the Tang Center is closed.</div>

			<a href="tel:510-643-7197" class="link">(510) 643-7197</a>
			<div class="description">The Tang Center advice nurse - they can help you plan next steps for any kind of health concerns. Available Monday-Friday, 8am-4:30pm.</div>

			<a href="tel:800-681-4065" class="link">(800) 681-4065</a>
			<div class="description">SHIP nurse line - you must be a SHIP member to access this line. They can help you plan next steps for any kind of health concern. Open 24/7.</div>

			<a href="tel:510-642-2367" class="link">(510) 642-2367</a>
			<div class="description">Career Counseling Library - they can help you with career- and major-related questions. They offer interest and personality tests to help you narrow down possibilities, and information on different careers and graduate and professional schools.</div>

			<a href="tel:800-273-8255" class="link">(800) 273-8255</a>
			<div class="description">The National Suicide Prevention Lifeline - you can call them if you're dealing with any kind of crisis, not just suicidal thoughts.</div>

		</div>
	</body>
</html>
