<!DOCTYPE html>
<html>
    <head>
        <title>Phone numbers</title>
        <link type="text/css" rel="stylesheet" href="/static/css/appspirin.css">
        <link type="text/css" rel="stylesheet" href="/static/css/resourcePage.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
        <meta name="viewport" content="width = 320"/>
		<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
 <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
   </head>
    <body>
		<div class="header">
			<a href="/home"><img class="logo" src="/images/home.png"/></a>
			<h1>Numbers</h1>
		</div>
		<div class="wrapper">
			These will be numbers for the Tang center and helplines, along with descriptions. When you click on the numbers, they'll open in your phone.
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vitae ex justo. Mauris pretium sem eget commodo ullamcorper. Sed dui dolor, venenatis eget arcu non, scelerisque maximus erat. Vestibulum facilisis nisi mi, non convallis urna tincidunt eget. Phasellus consequat, mauris quis ornare posuere, turpis metus suscipit lorem, vel ultricies justo magna non massa. Donec in efficitur leo. Suspendisse non nisi luctus, aliquet ex a, finibus urna. Sed placerat quis orci eget imperdiet. Duis porta at est vel convallis. Vivamus scelerisque tristique dapibus. Maecenas rutrum est et hendrerit volutpat. Vivamus ex quam, porta vitae interdum ac, ullamcorper quis libero. Nunc ullamcorper velit facilisis mauris malesuada vestibulum. Phasellus elementum bibendum tellus.
		</div>
	</body>
</html>
