<!DOCTYPE html>
<html>
    <head>
        <title>Stress management</title>
        <link type="text/css" rel="stylesheet" href="/static/css/appspirin.css">
        <link type="text/css" rel="stylesheet" href="/static/css/resourcePage.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
        <meta name="viewport" content="width = 320"/>
		<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
 <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
   </head>
    <body>
		<div class="header">
			<a href="/home"><img class="logo" src="/images/home.png"/></a>
			<h1>Stress</h1>
		</div>
		<div class="wrapper">
			<span class="link">Graditude</span>
			<div class="description">People often notice the things in life that are going wrong but take less time to savor the components of life that are going right.  Considering aspects of your life for which you are thankful can help you to develop a positive perspective.</div>

			<span class="link">Self-Compassion</span>
			<div class="description">We are so used to driving and pushing ourselves that the idea of kindness just doesn.t seem to fit.  But when you think about it, bullying ourselves doesn.t necessarily bring out the best in us.</div>

			<span class="link">Sleep</span>
			<div class="description">There may not be enough hours in a day to get everything done, but all things being equal, students who get 8 hours of sleep generally outperform those who get 6-7 hours.  With the right amount of sleep, people learn and process new information better, are more resilient and are more creative.</div>

			<span class="link">Healthy Eating</span>
			<div class="description">A good diet keeps your body healthy, promotes good mood, clear thinking and academic performance. While there is no single.right. way to eat, regular meals with a variety of foods(from all of the food groups) and adequate hydration (water is best) is key.</div>

			<span class="link">Time Management</span>
			<div class="description">Technology can play a large role in procrastination, and it can become time-consuming and addictive. Consider keeping a log of your non-work related internet use, set goals, and replace some of your internet time with healthier activities.</div>

		</div>
	</body>
</html>
