<!DOCTYPE html>
<html>
    <head>
        <title>Post-Strategy Checkin</title>
        <link type="text/css" rel="stylesheet" href="static/css/appspirin.css">
        <link type="text/css" rel="stylesheet" href="static/css/checkinPost.css">
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
        <script src="app.js"></script>
    </head>
    <body>
        The post-checkin stuff will go here
		
		<a href="/stratEnd">Save</a>
    </body>
</html>
