<!DOCTYPE html>
<html>
    <head>
        <title>Checkin</title>
        <link type="text/css" rel="stylesheet" href="static/css/appspirin.css">
        <link type="text/css" rel="stylesheet" href="static/css/checkin.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
        <meta name="viewport" content="width = 320"/>
		<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>

   </head>
    <body>
		<div class="header">
			<a href="/home"><img class="logo" src="/images/home.png"/></a>
			<h1>Check In</h1>
		</div>

		<div class="wrapper">
			<h2> Select your stress level:</h2>
			
       		<form method="post" action="/checkin">
				<label>
					<div class="wrap">
						<input type="radio" name="stress" value="0" />
						<img src="images/pain-0.png">
						<span class="number">0</span>
					</div>
				</label>
				<label>
					<div class="wrap mid">
						<input type="radio" name="stress" value="1" />
						<img src="images/pain-1.png">
						<span class="number">1</span>
					</div>
				</label>
				<label>
					<div class="wrap">
						<input type="radio" name="stress" value="2" />
						<img src="images/pain-2.png">
						<span class="number">2</span>
					</div>
				</label>
				<label>
					<div class="wrap">
						<input type="radio" name="stress" value="3" />
						<img src="images/pain-3.png">
						<span class="number">3</span>
					</div>
				</label>
				<label>
					<div class="wrap mid">
						<input type="radio" name="stress" value="4" />
						<img src="images/pain-4.png">
						<span class="number">4</span>
					</div>
				</label>
				<label>
					<div class="wrap">
						<input type="radio" name="stress" value="5" />
						<img src="images/pain-5.png">
						<span class="number">5</span>
					</div>
				</label>
				
				<textarea class="diary" name ="post" placeholder="What's going on today?"></textarea>
				<button class="likeabutton" type="submit">Check In</button>
			</form>
		</div>
    </body>
</html>
