<!DOCTYPE html>
<html>
    <head>
        <title>Edit Strategies</title>
        <link type="text/css" rel="stylesheet" href="static/css/appspirin.css">
        <link type="text/css" rel="stylesheet" href="static/css/editStrategies.css">
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
        <meta name="viewport" content="width = 320"/>
		<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
   </head>
    <body>
		<script type="text/javascript">
			var MyApp = angular.module('MyApp', [])
			.controller('stratController', function($scope) {
				$scope.strats = [
					{
						ID:0,
						title:"Meditate",
						description:"Listen to a guided meditation to help focus yourself.",
						category:"emotional",
						selected: false
					},
					{
						ID:1,
						title:"Take a walk",
						description:"We'll recommend some good routes",
						category:"physical",
						selected: false
					},
					{
						ID:2,
						title:"Talk to someone",
						description:"Talk to a friend or a professional",
						category:"interpersonal",
						selected: false
					},
					{
						ID:3,
						title:"Thought distancing",
						description:"Thought distancing is a technique to quiet fears or intrusive thoughts",
						category:"emotional",
						selected: false
					},
					{
						ID:4,
						title:"Video games",
						description:"We'll set a timer for half an hour of your favorite video game.",
						category:"fun",
						selected: false
					}
				];

			});
		</script>
 		<div class="header">
			<a href="/home"><img class="logo" src="/images/home.png"/></a>
			<h1>Settings</h1>
		</div>
		<div class="wrapper">
			<a href="/newStrategy">+ New Stragegy</a>
			<form method="post" action="/editStrategies">
				<div ng-app="MyApp" ng-controller="stratController" class="scrollable">
					<div class="stratCard" ng-repeat="strat in strats">
						<input type="checkbox">
		        	    <div class="title">{{strat.title}}</title></div>
					</div>
				</div>
				<input class="likeabutton" type="submit" value="Delete Selected"/>
			</form>

		</div>
    </body>
</html>
