<!DOCTYPE html>
<html>
    <head>
        <title>Edit Strategies</title>
        <link type="text/css" rel="stylesheet" href="static/css/appspirin.css">
        <link type="text/css" rel="stylesheet" href="static/css/editStrategies.css">
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
        <meta name="viewport" content="width = 320"/>
		<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
   </head>
    <body>
		<script type="text/javascript">
			var MyApp = angular.module('MyApp', [])
			.controller('stratController', function($scope, $http) {
				$http.get("static/strategies.json")
				.then(function(response) {
					$scope.strats = response.data;
				});

			});
		</script>
 		<div class="header">
			<a href="/home"><img class="logo" src="/images/home.png"/></a>
			<h1>Settings</h1>
		</div>
		<div class="wrapper">
			<a href="/newStrategy">+ New Stragegy</a>
			<form method="post" action="/editStrategies">
				<div ng-app="MyApp" ng-controller="stratController" class="scrollable">
					<div class="stratCard" ng-repeat="strat in strats">
						<input type="checkbox">
		        	    <div class="title">{{strat.title}}</title></div>
					</div>
				</div>
				<input class="likeabutton" type="submit" value="Delete Selected"/>
			</form>

		</div>
    </body>
</html>
