<!DOCTYPE html>
<html>
    <head>
        <title>History</title>
        <link type="text/css" rel="stylesheet" href="static/css/appspirin.css">
        <link type="text/css" rel="stylesheet" href="static/css/historyStrats.css">
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
 		<meta name="viewport" content="width = 320"/>
		<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
 <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
   </head>
    <body>
        <div class="header">
			<a href="/home"><img class="logo" src="/images/logo.png"/></a>
			<h1>History</h1>
		</div>
		<div class="wrapper">

			button bar

			table of methods and scores
		</div>
    </body>
</html>
