<!DOCTYPE html>
<html>
	<head>
		<title>History</title>
		<link type="text/css" rel="stylesheet" href="static/css/appspirin.css">
		<link type="text/css" rel="stylesheet" href="static/css/historyStrats.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
		<script src="http://code.highcharts.com/highcharts.js"></script> 
		<meta name="viewport" content="width = 320"/>
		<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
 <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
   </head>
	<body>	
		<script type="text/javascript">
			$(function () {
				$('#container').highcharts({
					chart: {
						type: 'bar'
					},
					plotOptions: {
						series: {
							color: '#339999'
						}
					},
					title: {
						text: null
						},
						xAxis: {
							categories: ['Meditate', 'Take a walk', 'Talk to someone', 'Thought distance', 'Video games'],
							title: {
								text: null
							}
						},
						yAxis: {
							title: {
								text: "Successful uses"
							},
							allowDecimals: false
						},
						credits: {
							enabled: false
						},
						legend: {
							enabled: false
						},
						series: [{
							data: [7, 5, 1, 1, 1]
						}]
					});
				});
		</script>

		<div class="header">
			<a href="/home"><img class="logo" src="/images/home.png"/></a>
			<h1>History</h1>
		</div>
		<div class="wrapper">
			<a class="likeabutton bar" href="history">Trends</a>
			<a class="likeabutton bar selected" href="historyStrats">Strategies</a>
			<div id="container"></div>

		</div>
	</body>
</html>
