<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link type="text/css" rel="stylesheet" href="static/css/appspirin.css">
        <link type="text/css" rel="stylesheet" href="static/css/home.css">
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
        <meta name="viewport" content="width = 380"/>
		<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    </head>
    <body>
		<div class="header">
			<a href="/home"><img class="logo" src="/images/logo.png"/></a>
			<h1>Appspirin</h1>
		</div>


        <a class="button" href="/checkin">Check In</a>
        <a class="button" href="/history">History</a>
        <a class="button" href="/resources">Resources</a>
        <a class="button subtle" href="/settings">Settings</a>
        <a class="button subtle" href="/logout">Logout</a>
	
    </body>
</html>
