<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link type="text/css" rel="stylesheet" href="static/css/appspirin.css">
        <link type="text/css" rel="stylesheet" href="static/css/home.css">
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <meta name="viewport" content="width = 320"/>
		<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
		 <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
   </head>
    <body>
		<div class="header">
			<a href="/home"><img class="logo" src="/images/logo.png"/></a>
			<h1>Appspirin</h1>
		</div>
		<div class="wrapper">

	        <a class="container" href="/checkin">
				<img class="bigIcon" src="/images/checkin.png"/>
				Check In
			</a>
			<a class="container" href="/history">
				<img class="bigIcon" src="/images/history.png"/>
				History
			</a>
			<a class="container" href="/resources">
				<img class="bigIcon" src="/images/resources.png"/>
				Resources
			</a>
			<a class="container" href="/settings">
				<img class="bigIcon" src="/images/settings.png"/>
				Settings
			</a>
			<a class="logout" href="/logout">Logout</a>
		</div>
    </body>
</html>
