<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link type="text/css" rel="stylesheet" href="static/css/appspirin.css">
        <link type="text/css" rel="stylesheet" href="static/css/login.css">
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
        <meta name="viewport" content="width = 320"/>
		<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>

    </head>
    <body>
		<div class="header">
			<a href="/home"><img class="logo" src="/images/logo.png"/></a>
			<h1>Appspirin</h1>
		</div>

		<div class="wrapper">
			<h2>Log in</h2>
    	    <form action="/login" method="post">
				<input type="text" placeholder="Email"/>
				<input type="password" placeholder="Password"/>
				<a class="switch" href="/createAccount">New user?</a>
				<input class="likeabutton" type="submit" value="Sign in"/>
			</form>
		</div>
    </body>
</html>
