<!DOCTYPE html>
<html>
    <head>
        <title>Done</title>
        <link type="text/css" rel="stylesheet" href="static/css/appspirin.css">
        <link type="text/css" rel="stylesheet" href="static/css/{{CSS}}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
        <meta name="viewport" content="width = 380"/>
		<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    </head>
    <body>
		<div class="header">
			<a href="/home"><img class="logo" src="/images/logo.png"/></a>
			<h1>Done</h1>
		</div>
	
		<h2>Okay</h2>

		<p>
			We'll keep that strategy on file if you want to try it again sometime.
		</p>
		
		<a href="/home" class="likeabutton">Done</a>
	</body>
</html>
