<!DOCTYPE html>
<html>
    <head>
        <title>More help</title>
        <link type="text/css" rel="stylesheet" href="static/css/appspirin.css">
        <link type="text/css" rel="stylesheet" href="static/css/{{CSS}}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
        <meta name="viewport" content="width = 320"/>
		<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
 <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
   </head>
    <body>
		<div class="header">
			<a href="/home"><img class="logo" src="/images/home.png"/></a>
			<h1>More help</h1>
		</div>
		<div class="wrapper">	
			<p>Your stress level has been really high lately.</p>

			<p>A lot of people find it helpful to talk to a counselor.</a>
		
			<a class="likeabutton" href="resources/counseling">Tell me more</a>
			<a class="likeabutton" href="suggestions">No thanks</a>
		</div>
	</body>
</html>
