<!DOCTYPE html>
<html>
    <head>
        <title>Create Account</title>
        <link type="text/css" rel="stylesheet" href="static/css/appspirin.css">
        <link type="text/css" rel="stylesheet" href="static/css/login.css">
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
		<meta name="viewport" content="width = 320"/>
		<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>

    </head>
    <body>
		<div class="header">
			<a href="/home"><img class="logo" src="/images/logo.png"/></a>
			<h1>Appspirin</h1>
		</div>

		<div class="wrapper">
			<h2>Create an account</h2>

			<form action="/createAccount" method="post">
				<input type="text" placeholder="Email"/>
				<input type="password" placeholder="Password"/>
				<input type="password" placeholder="Confirm password"/>
				<a class="switch" href="/login">Returning user?</a>
				<input class="likeabutton" type="submit" value="Create account"/>
			</form>
		</div>
    </body>
</html>
