<!DOCTYPE html>
<html>
    <head>
        <title>Add a Strategy</title>
        <link type="text/css" rel="stylesheet" href="static/css/appspirin.css">
        <link type="text/css" rel="stylesheet" href="static/css/newStrat.css">
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
        <meta name="viewport" content="width = 320"/>
		<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>

    </head>
    <body>
        <div class="header">
			<a href="/home"><img class="logo" src="/images/home.png"/></a>
			<h1>New Strategy</h1>
		</div>
		<div class="wrapper">
			<h2> Add a new strategy</h2>
			<form action="/newStrategy" method="post">
				<input type="text" placeholder="Title"/>
				<textarea class="desc" placeholder="Description"></textarea>
				<input placeholder="Time (minutes)" type="number">
				<input class="likeabutton" type="submit" value="Save" >
			</form>
		</div>
    </body>
</html>
