<!DOCTYPE html>
<html>
    <head>
        <title>Add a Strategy</title>
        <link type="text/css" rel="stylesheet" href="static/css/appspirin.css">
        <link type="text/css" rel="stylesheet" href="static/css/newStrat.css">
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
        <script src="app.js"></script>
    </head>
    <body>
        New strategy!
		</br>
		Back to <a href="/strat/new">Strategy</a> or <a href="/settings">Settings</a>
    </body>
</html>
