<!DOCTYPE html>
<html>
    <head>
        <title>Stress-free</title>
        <link type="text/css" rel="stylesheet" href="static/css/appspirin.css">
        <link type="text/css" rel="stylesheet" href="static/css/{{CSS}}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
        <meta name="viewport" content="width = 320"/>
		<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
 <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
   </head>
    <body>
		<div class="header">
			<a href="/home"><img class="logo" src="/images/home.png"/></a>
			<h1>Yay!</h1>
		</div>
		<div class="wrapper">	
			<p>Glad to hear you're doing well! Would you like to try a stress-reduction strategy anyway?</p>

			<a class="likeabutton" href="/suggestions">Sure!</a>
			<a class="likeabutton" href="/home">No thanks</a>
		</div>
	</body>
</html>
