<!DOCTYPE html>
<html>
    <head>
        <title>Resources</title>
        <link type="text/css" rel="stylesheet" href="static/css/appspirin.css">
        <link type="text/css" rel="stylesheet" href="static/css/resources.css">
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
        <meta name="viewport" content="width = 320"/>
		<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>

    </head>
    <body>
		<div class="header">
			<a href="/home"><img class="logo" src="/images/logo.png"/></a>
			<h1>Resources</h1>
		</div>
		<div class="wrapper">
	        <div class="resCard">
				<img class="resIcon" src="/images/phone.png"/>
				<a href="resources/phone">Phone numbers</a>
			</div>
 			<div class="resCard">
				<img class="resIcon" src="/images/chat.png"/>
				<a href="resources/chat">Chat with a counselor</a>
			</div>
 			<div class="resCard">
				<img class="resIcon" src="/images/faq.png"/>
				<a href="resources/faq">How counseling at Berkeley works</a>
			</div>
 			<div class="resCard">
				<img class="resIcon" src="/images/time.png"/>
				<a href="resources/time">Time management tips</a>
			</div>
			 <div class="resCard">
				<img class="resIcon" src="/images/stress.png"/>
				<a href="resources/stress">Stress management tips</a>
			</div>
		</div>
    </body>
</html>
