<!DOCTYPE html>
<html>
    <head>
        <title>Suggestions</title>
        <link type="text/css" rel="stylesheet" href="static/css/appspirin.css">
        <link type="text/css" rel="stylesheet" href="static/css/suggestions.css">
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
        <script src="app.js"></script>
    </head>
    <body>
        <h1>De-stress:</h1>
        <div ng-repeat="ID, title in strats">
            <a class="button" href="/strats/{{ID}}">{{title}}</a>
        </div>
        <a class="link" href="/newStrategy">+ Add a strategy</a>
		<a class="link" href="/strat/temporary">Continue</a>
    </body>
</html>
