<!DOCTYPE html>
<html>
    <head>
        <title>Suggestions</title>
        <link type="text/css" rel="stylesheet" href="static/css/appspirin.css">
        <link type="text/css" rel="stylesheet" href="static/css/suggestions.css">
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
        <meta name="viewport" content="width = 320"/>
		<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>

    </head>
    <body>
		<script type="text/javascript">
			var MyApp = angular.module('MyApp', [])
			.controller('stratController', function($scope, $http) {
				$http.get("static/strategies.json")
				.then(function(response) {
					$scope.strats = response.data;
				});


				$scope.switchDesc = function(strat){
					document.getElementById("changeme").innerHTML = strat.description;
					strat.selected = true;
					if($scope.lastPicked){
						$scope.lastPicked.selected = false;
					}
					$scope.lastPicked=strat;
				};

			});
		</script>
		<div class="header">
			<a href="/home"><img class="logo" src="/images/home.png"/></a>
			<h1>De-Stress</h1>
		</div>
		<div class="wrapper">
			<div ng-app="MyApp" ng-controller="stratController" class="stratBox scrollable">
				<div class="stratCard" ng-class="{selected:strat.selected}" ng-repeat="strat in strats" ng-click="switchDesc(strat)">
					<img class="stratIcon" src="/images/{{strat.category}}.png"/>
	        	    <span class="title">{{strat.title}}</span>
				</div>
		 	</div>

			<div id="changeme" class="textbox">
				Select a strategy.
			</div>
			<a class="likeabutton" href="/strat/temporary">Continue</a>
		</div>
    </body>
</html>
