<!DOCTYPE html>
<html>
    <head>
        <title>Talk to someone</title>
        <link type="text/css" rel="stylesheet" href="static/css/appspirin.css">
        <link type="text/css" rel="stylesheet" href="static/css/{{CSS}}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
        <meta name="viewport" content="width = 320"/>
		<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
 <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
   </head>
    <body>
		<div class="header">
			<a href="/home"><img class="logo" src="/images/logo.png"/></a>
			<h1>Talk</h1>
		</div>
		<div class="wrapper"
	
			<h2>Talk to someone:</h2>
	
			<a class="likeabutton big" href="phone">Text or call a friend</a>
			<a class="likeabutton big" href="resources/helplines">Call a helpline</a>
			<a class="likeabutton big" href="resources/chat">Chat with a therapist</a>

		</div>
	</body>
</html>
