<!DOCTYPE html>
<html>
    <head>
        <title>{{TITLE}}</title>
        <link type="text/css" rel="stylesheet" href="static/css/appspirin.css">
        <link type="text/css" rel="stylesheet" href="static/css/{{CSS}}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
        <meta name="viewport" content="width = 320"/>
		<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
 <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
   </head>
    <body>
		<div class="header">
			<img class="logo" src="static/logo.png"/>
			<h1>Check In</h1>
		</div>
	
		{{CONTENT}}
	</body>
</html>
